<footer class="site-footer h-card">
  <data class="u-url" href="{{site.baseurl}}/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        {{- site.description | markdownify -}} 
      </div>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1"></div>
      <div class="footer-col footer-col-2 right">
        <a href="https://github.com/chadlavi/blog">
          <img alt="build status" src="https://travis-ci.org/chadlavi/blog.svg?branch=master">
        </a>
      </div>
    </div>


  </div>

</footer>
