<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.github.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.github.baseurl }}/css/highlighting.css">
  <link rel="stylesheet" href="{{ site.github.baseurl }}/css/print.css" media="print">
  <script src="{{ site.github.baseurl }}/assets/script.js" defer></script>
  <script src="https://kit.fontawesome.com/34ff4b035e.js" crossorigin="anonymous"></script>
  {%- feed_meta -%}
</head>