<ul class="social-media-list">

  {%- if site.github_username -%}<li><i class="fab fa-github"></i> <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="username">{{ site.github_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.github_username2 -%}<li><i class="fab fa-github"></i> <a href="https://github.com/{{ site.github_username2| cgi_escape | escape }}"><span class="username">{{ site.github_username2| escape }}</span></a></li>{%- endif -%}

  {%- if site.instagram_username -%}<li><i class="fab fa-instagram"></i> <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><span class="username">{{ site.instagram_username| escape }}</span></a></li>{%- endif -%}

  {%- if site.linkedin_username -%}<li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><span class="username">{{ site.linkedin_username| escape }}</span></a></li>{%- endif -%}

  {%- if site.twitter_username -%}<li><i class="fab fa-twitter"></i> <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><span class="username">{{ site.twitter_username| escape }}</span></a></li>{%- endif -%}
  
  {%- if site.rss -%}<li><i class="fas fa-rss"></i> <a href="{{ site.github.baseurl }}/feed.xml" target="_blank"><span>RSS</span></a></li>{%- endif -%}
</ul>
