/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;

  @include under($mobile) {
    margin-bottom: $spacing-unit;
  }
}

pre {
  margin: $spacing-unit auto;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: #{$spacing-unit / 2} auto;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit / 2;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1, h2, h3, h4 {
  font-family: 'Archivo Black', #{$base-font-family};
}

span#byline {
  display: none;
}

/**
 * Links
 */
a {
  border-radius: 3px;
  color: $brand-color;
  text-decoration: none;

  &:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 5px $brand-color;
  }

  &:visited, &:active {
    color: darken($brand-color, 5%);
  }

  &:hover {
    color: inherit;
    text-decoration: underline;
    &:focus {
      color: $brand-color;
      text-decoration: none;
    }
  }

  &.tag {
    display: inline-block;
    padding: 3px 9px;
    margin: 0 3px 7px 0;
    color: white;
    background: $brand-color;
    border-radius: 4px;
    &:active {
      color: white;
      background: darken($brand-color, 5%);
    }
    &:hover {
      text-decoration: none;
      transform: translateY(-2px);
      color: white;
      &:focus {
        color: white;
      }
    }
  }

  &:not([href^='#']):not([href^='/']):after, &[target="_blank"]::after {
    font-family: 'Font Awesome 5 Free';
    content: "  \f35d";
    @include relative-font-size(2/3);
    vertical-align: middle;
    white-space: pre;
    display: inline-block;
    transform: translateY(-1px);
    margin-right: 2px;
  }
}
.site-footer a {
  &:not([href^='#']):not([href^='/']):after, &[target="_blank"]::after {
    transform: translateY(-2px);
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $light-text;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(10/9);

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(8/9);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #f9f9fb;
  font-family: $monospace-font;
}

code {
  padding: 1px 5px;
}

pre {
  border-radius: 8px;
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: unset;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include under($tablet) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
  a {
    padding: 4px 9px;
    margin-left: -4px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
