@font-face {
  src: url("#{$baseurl}/webfonts/ArchivoBlack.ttf");
  font-family: 'Archivo Black';
}

@font-face {
  font-family: "Libre Franklin";
  src: url("#{$baseurl}/webfonts/Libre_Franklin/LibreFranklin-Black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("#{$baseurl}/webfonts/Libre_Franklin/LibreFranklin-Regular.ttf");
  font-weight: normal;
}